html,
body,
#root,
.App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
p {
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
}
/*Elements réutilisés*/
.big-card {
  background: rgba(73, 77, 82, 0.6);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.card {
  max-width: 80%;
  background: rgba(73, 77, 82, 0.6);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 758px) {
  .card {
    width: 400px;
  }
}

.card img {
  display: block;
}

.title,
Label {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#f7f193, #9c6717);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}
.title-Green {
  margin: auto;
  font-family: "Roboto", sans-serif;
  color: #51c5b0;
  margin-bottom: 1rem;
}

button,
.submit {
  background: #51c5b0;
  color: #303135;
  border: none;
  max-height: 40px;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0.5rem;
  box-shadow: 10px 10px 5px rgba(36, 36, 36, 0.5);
}
.button-div {
  display: flex;
  justify-content: flex-end;
}

button:hover,
button:focus,
button:active,
.submit:hover,
.submit:focus,
.submit:active {
  background: radial-gradient(#f7f193, #9c6717);
}

/* HEADER */
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 3;
}

.nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  list-style: none;
  padding: 1rem;
  width: 100%;
  top: 100px;
  left: -100%;
  transition: 0.5s all;
}

.logo {
  width: 50%;
  padding-top: 1rem;
  position: relative;
  z-index: 1;
}
.nav-links.active {
  left: 0;
  background-color: rgba(38, 38, 39, 0.95);
}

.nav-item {
  padding: 10px 0;
}

.nav-link {
  text-decoration: none;
  transition: 0.3s all;
}

.nav-icon {
  display: flex;
  font-size: 2rem;
  cursor: pointer;
  color: #f7f193;
}
.li-signOut {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.Socials a {
  padding: 0.5rem;
}

@media only screen and (min-width: 992px) {
  .nav-icon {
    display: none;
  }
  .nav-link:hover {
    border-bottom: 2px solid #5de5cc;
  }
  .nav-link:focus > h4,
  .nav-link:hover > h4 {
    border-bottom: 2px solid #5de5cc;
  }
  .nav-links {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    left: 0%;
  }
  .Socials {
    display: flex;
    align-items: center;
  }
  .Socials a {
    padding: 0.5rem;
  }
}

/* ACCUEIL */
.accueil {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#back-accueil {
  display: block;
  margin: auto;
  width: 90%;
}
.titre-accueil {
  position: absolute;
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4);
  grid-auto-rows: minmax(80px, auto);
}

#wyld {
  margin-left: 0.5rem;
  max-width: 60%;
  grid-column: 1 / 4;
  grid-row: 1;
}
#side {
  max-width: 100%;
  grid-column: 3/4;
  grid-row: 3;
}

@media only screen and (min-width: 768px) {
  #back-accueil {
    width: 70%;
  }
  .titre-accueil {
    width: 70%;
  }
}
@media only screen and (min-width: 992px) {
  #back-accueil {
    width: 30%;
  }
}

/* OFFRES */
#pres {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

/*UNE OFFRE*/

.One-offer-card {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.One-offer-card .title-Green {
  margin-left: 0;
}

.One-offer-card img {
  width: 50%;
  display: block;
  margin: auto;
}
.top-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.selects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.selects label {
  margin: auto;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(#f7f193, #9c6717);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin: 0.5rem;
}

.offer-select {
  margin: 0.6rem;
  width: 250px;
  height: 45px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #5de5cc;
  background: url(./Img/icon/CaretDown.png) no-repeat right #494d52;
  background-position-x: 215px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price span {
  font-size: 1.5rem;
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .One-offer-card {
    max-width: 50%;
  }
  .One-offer-card img {
    width: 40%;
  }
  .One-offer-card p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .selects {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
  }
}

/*FORMS*/
.connexion {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Contacts {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact-big-div {
  display: flex;
  justify-content: center;
}
.big-card-form {
  width: 80%;
}
.little-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.Form {
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.column-form,
.sign-in-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
}

.Form input[type="text"],
.Form input[type="password"],
.Form select {
  height: 50px;
}

.Form input[type="text"],
.Form input[type="password"],
.Form textarea,
.Form select {
  border: none;
  background: #494d52;
  color: rgb(219, 218, 218);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0.5rem;
}
.contact-card {
  width: 80%;
}
.contact-card p {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (min-width: 992px) {
  .Form {
    flex-direction: row;
  }
  .Form input[type="text"],
  .Form input[type="password"],
  .Form textarea {
    min-width: 380px;
  }
  .little-cards {
    flex-direction: row;
  }
  .contact-card {
    width: 400px;
    height: 120px;
  }
  .sign-in-group {
    display: flex;
    flex-direction: column;
  }
}

/* SHOPPINGBAG */
.shop-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #494d52;
  margin: 0.5rem;
  padding: 1rem;
}
.shop-offer img {
  width: 40%;
}

.shop-offer h3 {
  background: linear-gradient(#f7f193, #9c6717);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.bottom-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.total {
  color: #fff;
  font-family: "Roboto";
}

@media only screen and (min-width: 768px) {
  .shop-offer {
    flex-direction: row;
  }
  .shop-offer img {
    width: 10%;
  }
  .bottom-cart {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* PERSONAL-SPACE */
.personal-space {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.indiv {
  display: flex;
  flex-direction: column;
}
.groups-i {
  display: flex;
  justify-content: space-around;
}

.right-section-pers .card img {
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .personal-space {
    flex-direction: row;
  }
  .right-section-pers .card {
    width: 700px;
  }
}

/* ESPACE PERSO */

.personal-space {
  height: 100%;
}

/* VISITOR */
.visitor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.visitor-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.visitor-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .visitor-left,
  .visitor-right {
    width: 50%;
  }
  .visitor {
    flex-direction: row;
  }
  .card {
    width: 400px;
  }
  .visitor .card img {
    width: 50%;
    margin: auto;
  }
}

/* ADMIN */
.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin .card {
  text-decoration: none;
  text-align: center;
}
.admin .card:hover,
.admin .card:focus,
.admin .card:active {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.admin .card img {
  display: block;
  margin: auto;
}

.gestion-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
